/* custom fonts settings */
/* regular font weight starts 400 */
/* light font weight starts 300 */
/* bold font weight starts 700 */
/* italic font weight follows the regular font weight */
/* black font weight starts 900 */

@font-face {
    font-family: 'Poppin';
    font-weight: 400;
    src: url('assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/poppins-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Poppin';
    font-weight: 300;
    src: url('assets/fonts/poppins-light-webfont.woff2') format('woff2'),
        url('assets/fonts/poppins-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Poppin';
    font-weight: 900;
    src: url('assets/fonts/poppins-black-webfont.woff2') format('woff2'),
        url('assets/fonts/poppins-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Poppin';
    font-weight: 600;
    src: url('assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('assets/fonts/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Poppin';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/poppins-italic-webfont.woff2') format('woff2'),
        url('assets/fonts/poppins-italic-webfont.woff') format('woff');
}

:root {
    --white: #ffffff;
    /* basic color white */
    --black: #000000;
    /* basic color black */

    /* custom dark and light for theme */
    --dark: #10192A;
    --dark-accent: #00EEFF;
    --light: #F5F5F5;

    /* custom dark and light font-color for theme */
    --fc-dark-theme: var(--white);
    --fc-light-theme: var(--dark);

    /* custom font-size */
    --default-font-size: 1rem;
    --lg-font-size: 1.3rem;
    --sm-font-size: .8rem;
    --m-font-size: 1.2rem;

    /* custom padding */
    --default-padding: 0 3rem;
    --m-padding: 0 1.2rem;

    /* custom margin */
    --default-margin: 3rem 0;
    --m-margin: 3rem 0;
}

html {
    font-size: 100%;
    /* set font to 100% always */
    box-sizing: border-box;
    /* set box-sizing to border-box always */
}

*,
*::before,
*::after {
    padding: 0;
    /* set browser padding to zero */
    margin: 0;
    /* set browser margin to zero */
    box-sizing: inherit;
}

body {
    /* set default or custom fonts above */
    font-family: 'Poppin', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    background-color: var(--dark);
    color: var(--light);
}

.hero-container {
    background-color: var(--dark);
    background-image: url('assets/images/cubical-spheres-unsplash-maximalfocus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 30%;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #000000DD;
    color: var(--white);
}

.logo-container img {
    width: min(5rem, 100%);
}

.credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: var(--sm-font-size);
    background-color: #000000DD;
    padding: .3rem;
    text-align: center;
}

.info p {
    font-size: var(--lg-font-size);
}

.container {
    padding: var(--m-padding);
    margin: var(--m-margin);
    font-size: var(--default-font-size);
}

.form {
    background-color: var(--dark);
    color: var(--light);
}

.form-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

.form> :first-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form> :last-child {
    margin-bottom: 1rem;
}

/* .form-section div {
    display: grid;
    gap: .5rem;
    margin: 0.5rem 0;
    font-size: var(--sm-font-size);
} */

.input-control {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem 0;
}

.input-control input {
    border: 1px solid var(--light);
    padding: .5rem;
    font-size: var(--sm-font-size);
    background-color: transparent;
    color: var(--light);
}

.input-control input:focus {
    outline: none;
    border: 1px solid var(--dark-accent);
}

.input-control.success input {
    border-color: #09C372;
}

.input-control.error input {
    border-color: #FF3860;
}

.input-control .error {
    font-size: var(--sm-font-size);
    color: #FF3860;
    height: .5rem;
}

form> :last-child p {
    font-size: var(--sm-font-size);
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    border: 1px solid var(--light);
    padding: 0.8rem;
    font-size: var(--sm-font-size);
    background-color: var(--dark);
    color: var(--light);
    outline: none;
    cursor: pointer;
}

button:focus {
    border-color: var(--dark-accent);
    color: var(--dark-accent);
}

button:hover {
    border-color: var(--dark-accent);
    color: var(--dark-accent);
}

@media (min-width: 580px) {
    .form-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 1rem;
    }

    .container {
        padding: var(--default-padding);
        margin: var(--default-margin);
    }
}

@media (min-width: 1000px) {
    .content-container {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .container {
        padding: var(--default-padding);
        margin: var(--default-margin);
    }

    .sign-up-container {
        width: 90%;
    }

    .form-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 1rem;
    }
}